%div{:id => "#{dom_id chat_room}"}
  %h1.text-2xl.font-bold.mb-4
    = chat_room.name
  - if action_name != "show"
    = link_to "Show this chat room", chat_room, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Edit this chat room", edit_chat_room_path(chat_room), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
