%nav.bg-gray-800.text-white.flex.justify-between.items-center
  .w-full.flex.p-4.min-h-16
    #header-logo
      = link_to "/" do
        %div.flex.items-center
          %h1.text-xl.font-bold.ml-2
            App
